@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    font-family: "Poppins", serif;
}

nav {
    font-family: "Poppins", serif;
    background-color: #222222;
    text-space: 2px;
    font-stretch: extra-expanded;
    color: white;
}

:root {
    background-color: #222222;
}

.based-data {
    font-family: "Poppins", serif;
}

.name-label {
    font-family: "Poppins", serif;
}

.progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
}

@keyframes typing {
    from {
        width: 1%  ;
    }
    to {
            width: 100%;
    }
}

@keyframes blink-caret {
    50% {
        border-color: orange;
    }

}
@keyframes blink-caret-end {
    0%{
        border-right:.15em solid rgb(242, 108, 79,0)
    }
    100%{
        border-right:.15em solid rgb(242, 108, 79,1)
    }
}
.name-main-page {
    animation: typing 3.5s steps(40,end) normal ,
    blink-caret .75s linear ,
    blink-caret-end .5s ease-in-out infinite;
    white-space: nowrap; /* Keeps the content on a single line */
    border-right: .15em solid orange; /* The typwriter cursor */

}@keyframes custom-fade-in {
     0% {
         opacity: 0;
         transform: translateX(-50px); /* Move the element from left */
     }
     100% {
         opacity: 1;
         transform: translateX(0); /* Reset translation */
     }
 }
@keyframes zoom-in {
    0% {
        transform: scale(1, 1);
    }
    100% {
        transform: scale(1.5, 1.5);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateX(-100%); /* Start from outside the viewport */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Move to the original position */
    }
}
@keyframes fadeIn-right {
    from {
        opacity: 0;
        transform: translateX(100%); /* Start from outside the viewport */
    }
    to {
        opacity: 1;
        transform: translateX(0); /* Move to the original position */
    }
}

.main-one {
    opacity: 0;
    position: static;
    transform: translateX(-100%);
    animation: fadeIn 1s ease forwards;
    animation-delay: 0.25s;
}
.main-one-fast {
    opacity: 0;
    position: static;
    transform: translateX(-100%);
    animation: fadeIn 0.3s ease forwards;
    animation-delay: 0.25s;
}

.main-one-right {
    opacity: 0;
    position: static;
    transform: translateX(100%);
    animation: fadeIn-right 1s ease forwards;
}
.animate-1 {
    animation-delay: 0s;
}

.animate-2 {
    animation-delay: 0.25s;
}

.animate-3 {
    animation-delay: 0.5s; /* Delay the animation start for 0.5s */
}
.animate-4 {
    animation-delay: 0.75s;
}
.animate-5 {
    animation-delay: 1s;
}
.animate-6 {
    animation-delay: 1.25s;
}
